@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.body-content {
  overflow-x: hidden;
}

/* Upper Nav */
.call-us-wrapper {
  background-color: rgb(79, 93, 236);
  justify-content: end;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.call-us-wrapper p {
  color: white;
  display: flex;
  padding-right: 25px;
  font-size: 13px;
}

.numeber {
  text-decoration: none;
  color: white;
}
.socials-wrapper {
  justify-content: start;
  padding-left: 25px;
  color: white;
  font-size: 13px;
}

.social-icon {
  padding-left: 5px;
}

.social-icon i {
  color: rgb(198, 194, 194);
}

.social-icon i:hover {
  color: white;
  cursor: pointer;
}

.login,
.register {
  color: white;
  cursor: pointer;
}

.login {
  text-align: center;
  border-radius: 15px;
  font-size: 11px;
}

.register {
  padding: 0px 12px;
  font-size: 11px;
}
.marquee-wrapper marquee {
  color: white;
}

/* Main Nav */
.nav-item a {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 1.5vh;
}

.nav-item {
  text-align: center;
}

.nav-item a {
  transition: 0.5s ease;
  color: rgb(5, 4, 4);
  text-decoration: none;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  font-weight: 500;
}
.nav-item a:hover {
  border-top: 4px solid rgb(79, 93, 236);
  border-bottom: 4px solid rgb(5, 5, 5);
  color: rgb(11, 11, 91);
}

.main-header-wrapper {
  color: white;
}

#mainheader {
  background-image: url(./cover.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome-wrapper p {
  font-size: 35px;
  font-weight: 700;
  line-height: 4.5vh;
  text-align: start;
}
.sub-para p {
  color: grey;
}

.aboutusbtn {
  background-color: rgb(79, 93, 236);
  text-decoration: none;
  color: white;
  padding: 12px 20px;
  /* border-radius: 15px; */
}

.contactusbtn {
  text-decoration: none;
  color: white;
}

.card-wrapper {
  border-radius: 15px;
  background-color: white !important;
  z-index: 130;
  width: 60%;
  color: black;
  padding-top: 15px;
}

.card-main-heading {
  background-color: rgb(79, 93, 236);
  display: inline-block;
  color: aliceblue;
  font-weight: 500;
}

.lable p {
  font-size: 12px;
  font-weight: 600;
}

.servicetext {
  font-size: 13px;
  color: grey;
}

.servicetext i {
  padding-right: 10px;
}

.formsearchbtn {
  text-decoration: none;
  background-color: rgb(79, 93, 236);
  color: white;
  padding: 12px 28px;
  border-radius: 15px;
}

.card-wrapper-mobile {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 15px;
}

.aboutus-card-header p {
  font-weight: 600;
  color: rgb(1, 1, 1);
  font-size:20px;
}

.aboutus-card-icon i,.aboutus-card-header p{
    color: rgb(79, 93, 236);
}

.aboutus-card:hover .aboutus-card-icon i {
    color: white !important;
  }

.aboutus-card:hover .aboutus-card-header p {
  color: white !important;
}

.aboutus-card:hover .aboutus-body{
    color: white !important;
}


.aboutus-card:hover {
  background-color: rgb(79, 93, 236);
  transition: 0.5s ease;
}

.car-collection-wrapper{
    background-color: rgb(252, 252, 252);
}
.what-we-offer P {
  font-weight: 400;
  color: rgb(79, 93, 236);
}

.choose-your-car p {
  font-weight: 700;
  font-size: 3vh;
}

.under hr {
  color: rgb(79, 93, 236);
  align-content: center;
  width: 5%;
  margin-left: auto;
  margin-right: auto;
}

.seperate hr{
    color: rgb(79, 93, 236);
    align-content: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.choose{
    line-height: 2px;
}



#offers ,#economic ,#premium{
    text-decoration: none;
    padding: 15px;
    font-size: 14px!important;
    font-weight: 500;
}

.car-features-wrapper .nav .active{
    background-color: rgb(79, 93, 236)!important;
    /* border-radius: 15px!important; */
}

.car-features-wrapper .nav{
    border-radius: none !important;
}


.car-card{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;   
    border-radius: 15px;
}

.car-card:hover{
    border: 2px solid rgb(79, 93, 236);
}



@keyframes moveToLeft {
  0% {
    transform: translateY(0px);

  }
  25% {
    transform: translateX(15px);
    
  }
  50% {
    transform: translateX(15px);
    
  }

  100% {
    transform: translateX(0px);
  }
}

.car-card:hover .cars-card-img img{
  animation: moveToLeft 5s linear infinite;
}

.deal p{
    color:rgb(79, 93, 236);
}

.price{
    font-weight: 600;
    color:rgb(255, 255, 255);
    font-size: 20px;
}

.car-price{
    border: 1px solid rgb(79, 93, 236);
    border-radius: 20px;
    margin: 10px;
    padding:10px;
    background-color: rgb(79, 93, 236);
    color: white;
}

.car-name p{
    font-weight: 600;
}

.car-size p{
    color: grey;
    font-style: italic;
}

.car-details{
    line-height: 8px;
}

#col{
  border: 1px solid rgb(215, 213, 213);
}

.card-booknow{
  font-size: smaller;
  background-color:rgb(79, 93, 236);
  color: white;
  text-decoration: none;
  padding: 10px 10px 10px 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.card-details{
  font-size: smaller;
  background-color:rgb(0, 0, 0);
  color: white;
  text-decoration: none;
  padding: 10px 20px 10px 10px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

#service-card{
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  position: relative;
}

.how-its-work-wrapper{
  background-image: url(./cover2.png);
  background-position: center;
}

.how-its-work p {
  font-weight: 700;
  font-size: 3vh;
  color: white;
}

.how-its-work-description p{
  color: rgb(178, 174, 174);
}

.how-icon i{
  color: rgb(98, 96, 96);
  padding: 35px;
  border: 1px solid rgb(79, 93, 236);
  border-radius: 50%;
}

.how-card:hover .how-icon i{
  background-color: rgb(79, 93, 236);
  color: white;
  transition: 0.5s ease-in-out;
}


.how-description p{
  color: white;
  font-weight: 500;
}

.how-para p{
  color: rgb(133, 129, 129);
}

.select-car-banner{
  background-color: rgb(79, 93, 236);
}

.vr{
  color: white;
}

.see-all-cars-btn{
  color: rgb(79, 93, 236);
  text-decoration: none;
  background-color: white;
  font-weight: 500;
  padding: 15px 22px;
  transition: 0.5s;
}

.see-all-cars-btn:hover{
  color: rgb(79, 93, 236);
  text-decoration: none;
  background-color: rgb(179, 174, 174);
  font-weight: 500;
  padding: 15px 22px;
}

.book-my-ride h2{
  color: white;
}

.book-my-ride p{
  color: rgb(208, 205, 205);
}